body, h1, h2{
    font-family: 'Montserrat', sans-serif !important;
    background: url("/assets/images/Fondo.png") no-repeat top center fixed !important;
    background-size: 100% auto !important;
}
.miNav{
    background: #0c231e !important;
}
.aNav{
    color:  white !important;
}
.aNav:hover{
    /* background-color:  #114946; */
    color: #ddc9a3 !important;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0c231e;
    background-image: url("/assets/images/Pleca.png");
    background-size: auto 100% !important;    
    height: 28px !important;
    width: 100% !important;
    color: white;
    text-align: center;
 }
 .filterCont{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 7px #98989A;
 }
 .miSelect{
     width: 100%;
 }
 #btnFilter{
    background-color: #98989a !important;
    border-color: #98989a !important;
 }
 #btnFilter:hover{
    background-color: #6f7271 !important;
    
 }
 #btnLimpia{
    background-color: #9f2241 !important;
    border-color: #9f2241 !important;
 }
 #btnLimpia:hover{
    background-color: #691c32 !important;
    
 }
 #content_mapa{
	/* float:right; */
	position: relative !important;
	left: 30px !important;
    top: 30px !important;
    width: 450px !important;
}
.list{
    left: -30px !important;
}
#map_ID{
    width: 650px !important;
}
.btnDet{
    background-color: #235b4e !important;
    border-color: #235b4e !important;
}
.btnDet:hover{
    background-color: #1a463c !important;
    
 }